<aside class="sidebar">
  <ul class="menu">
    <li><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
    <li><a routerLink="/socios" routerLinkActive="active">Socios</a></li>
    <li><a routerLink="/tramites" routerLinkActive="active">Trámites</a></li>
    <li><a routerLink="/beneficios" routerLinkActive="active">Beneficios</a></li>
    <li><a routerLink="/catalogos" routerLinkActive="active">Catálogos</a></li>
    <li><a routerLink="/usuarios" routerLinkActive="active">Usuarios</a></li>
  </ul>
</aside>
